/* Remove if fonts are not used */
/* @import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css'; */

/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.skill-highlight {
  background-color: #d7ffdf;
}

.resume-bullets p {
  margin-top: 5px;
  margin-bottom: 0;
}

.resume-bullets p:before {
  content: "●";
  padding-right: 6px;
}

.resume-bullets img,
.resume-bullets svg {
  transition: transform 0.2s;
}

.resume-bullets img:hover,
.resume-bullets svg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.item {
  border: 1px solid #f5f5f5;
  overflow: hidden;
  transform-origin: 30% 50% 0px;
  padding: 5px 5px 5px 24px;
  max-height: 100%;
}

.item .dragHandle {
  position: absolute;
  top: 2px;
  left: 0;
  cursor: move;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}
